<div id="cse" style="position:relative;">loading...</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('search', '1', {language : 'zh-CN'});
google.setOnLoadCallback(function() {
var customSearchControl = new google.search.CustomSearchControl('008039657822625578505:60pqrtf_wbi');
customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
customSearchControl.draw('cse');
customSearchControl.execute('<%=params[:q]%>');
}, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<style>
input.gsc-input {
	width: 165px !important;
	height: 19px !important;
	background: white !important;
	position: absolute;
	top: -38px;
	right: 125px;
}
input.gsc-search-button {
	width: 50px !important;
	height: 23px !important;
	text-indent: -1000px;
	background: url(/images/eyok02.jpg) no-repeat !important;
	position: absolute;
	top: -39px;
	right: 72px;
}
.gsc-clear-button {
	display: none;
}
</style>