@charset "utf-8";  body {font-family: "宋体"; font-size:12px; color:#000}
a {color:#000; text-decoration:none}
a:hover {color:#000; text-decoration:none}
div, form, img, ul, ol, li, dl, dt, dd {margin: 0; padding: 0; border: 0}
body, div, ul, li, form, table, ol, dl, dt, dd {margin:0px; padding:0px; list-style:none; border:0px}
.blank0 {margin:0 auto; width:100%; height:0px; font-size:0px; line-height:0px; clear:both }
.blank6 {margin:0 auto; width:100%; height:6px; font-size:1px; line-height:1px; clear:both }
.blank12 {margin:0 auto; width:100%; height:12px; font-size:1px; line-height:1px; clear:both }
.blank20 {margin:0 auto; width:100%; height:20px; font-size:1px; line-height:1px; clear:both }
.blank30 {margin:0 auto; width:100%; height:30px; font-size:1px; line-height:1px; clear:both }
.blank50 {margin:0 auto; width:100%; height:50px; font-size:1px; line-height:1px; clear:both }
.clear {clear:both;}
.fLeft {float:left;}
.fRight {float:right;}
.img {border:0; margin:0px; padding:0px}
.hui {color:#696969; text-decoration:none}
.hui:hover {color:#696969; text-decoration: none}
.red {color:#FFF; text-decoration:none; background:#333; padding:2px; line-height:24px}
.white {color:#FFF; text-decoration:none}
.white:hover {color:#FFF; text-decoration:none}
.enjoyoungok {width: 1000px; margin:0 auto 0 auto}
.loginbar {width:100%; margin-top:10px; height:24px; line-height:24px; margin-bottom:2px; text-align:right;}
.loginbar span {margin-left:5px}
.loginbar a {margin:2px}
.input {border:1px solid #000; height:18px}
.oknav {width:1000px; height:34px; background: #000 url(../images/nav_bg.jpg) repeat-x; margin-top:1px; border-bottom:9px #cccbd0 solid}
.current {width:83px; height:34px; background-color:#e70012}
.oknav_a1 {float:left; margin-right:20px; display:inline }
.oknav_a1 a {float:left; width:80px; height:34px; line-height:34px; text-align:center; color:#FFF; margin-right:1px; border-right:1px #fff solid}
.oknav_a1 a:hover {float:left; width:80px; height:34px; line-height:34px; text-align:center; color:#FFF; margin-right:1px; background-color:#e70012}
.oknav_a2 {float:right; width:300px; display:inline; height:34 }
.oknav_a2 span {float:left; display:block; padding-top:5px; margin-left:5px}
.content {width:998px; border-left:1px solid #dadada; border-right:1px solid #dadada}
.content_left {width:682px; float:left}
#reception {clear:left; width:571px; height:20px; line-height:20px; vertical-align:middle; padding:0px 0 0px 111px; background:#673301 url(../images/eyok04.jpg) no-repeat; border-bottom:1px solid #c8cdc6; overflow:hidden}
#closeb {width:54px; float:left}
.news {width:507px; height:20px; float:left; padding-right:10px}
.news a {color:#FFF; line-height:20px}
.news a:hover {color:#FFF; line-height:20px}
.ff {width:662px; height:313px; padding:10px}
.ad {padding:10px; border-bottom:1px solid #dadada; border-top:1px solid #dadada}
.hot {height:263px; border-bottom:1px solid #dadada}
.hot_01 {height:40px; width:682px; background:url(../images/eyok07.jpg) no-repeat}
.hot_02 {width:682px; padding:0 0px 0 0px}
.hot_02content {width:215px; height:223px; float:left; overflow:hidden; margin:0 3px 0 7px; display:inline}
.hot_02content span {display:block}
.span_imgbg {width:209px; height:106px; padding:3px; background:url(../images/eyok08.jpg) no-repeat; overflow:hidden}
.span_title {height:24px; line-height:24px; width:205px; font-weight:bolder; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding:0 5px 0 5px}
.span_content {width:205px; line-height:18px; color:#6d6d6d; padding:0 5px 0 5px}
.span_content p {text-indent:20px}
.link {margin:10px 0 15px 130px}
.sina {width:60px; height:12px; background:url(../images/eyok09.jpg) no-repeat 80px 0px; padding:40px 0 0 130px; float:left }
.kaixin {width:60px; height:12px; background:url(../images/eyok10.jpg) no-repeat 80px 0px; padding:40px 0 0 130px; float:left }
.content_right {width:315px; border-left:1px solid #dadada; float:left}
#nav {margin:0; width:305px; height:24px; display:block; background:url(../images/eyok11.jpg) no-repeat; padding:3px 0 0 10px; overflow:hidden}
#nav .mainlevel {background:#e90212; float:left; background:url(../images/eyok12.jpg) no-repeat 5px 8px; padding-left:13px; margin-right:5px}
#nav .mainlevel a {color:#fff; text-decoration:none; line-height:23px; display:block; padding:0 3px 0 3px}
#nav .mainlevel a:hover {color:#fff; text-decoration:none; line-height:23px; display:block; padding:0 3px 0 3px}
#nav .mainlevel ul {display:none; position:absolute; background:#000}
#nav .mainlevel li {background:#000; width:80px; border-bottom:0px}
.appreciate span {display:block}
.questions {padding:10px}
.questionsleft {margin-right:10px; float:left}
.questionsright {float:left; width:213px; height:78px; overflow:hidden}
.questionsright li {width:213px; line-height:19px}
.questionsbottom {width:295px; margin-top:10px}
.questionsbottom img {float:right; margin-left:10px}
.questionscontent {width:275px; padding:0 10px 0 10px; line-height:18px}
.footer {width:1000px; border-top:1px solid #dadada; text-align:center; padding-top:15px; margin-bottom:70px}
.footer span {display:block; line-height:20px; margin-bottom:5px}
.footer a {margin:0 8px 0 8px}
 #reception2j {clear:left; width:887px; height:20px; line-height:20px; vertical-align:middle; padding:0px 0 0px 111px; background:#673301 url(../images/eyok04.jpg) no-repeat; border-bottom:1px solid #c8cdc6; overflow:hidden}
#closeb {width:54px; float:left}
.news2j {width:823px; height:20px; float:left; padding-right:10px}
.news2j a {color:#FFF; line-height:20px}
.news2j a:hover {color:#FFF; line-height:20px}
.appcontent {margin:8px; padding:67px 56px 206px 56px; width:870px; height:372px; background:url(../images/eyok26.jpg) no-repeat}
.fenye {width:998px; height:122px}
.fenye01 {width:300px; height:31px; margin:20px auto 0 auto}
.fenye01 span {display:block; float:left}
.fenye02 {width:236px; float:left; margin-top:12px; text-align:center; display:inline}
.fenye02 ul {margin:0 auto 0 auto}
.fenye02 li {width:6px; height:6px; background:url(../images/fenye03.jpg) no-repeat; margin:0 10px 0 10px; float:left; display:inline}
.fenye03 {width:6px; height:6px; background:url(../images/fenye04.jpg) no-repeat; margin:0 10px 0 10px}
.ranking {width:978px; margin:10px; overflow:hidden}
.neiye_a1 {height:517px; width:998px; border-bottom:1px solid #dadada}
.neiye_a1left {width:389px; height:517px; float:left}
.neiye_a1left_01 {height:228px; border-bottom:1px solid #dadada; overflow:hidden; padding:15px}
.neiye_a1left_01 span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.a1title {width:349px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:20px; font-weight:bold; height:20px; line-height:20px}
.a101content {height:50px; overflow:hidden}
.neiye_a1left_01 p {text-indent:24px; color:#6d6d6d; line-height:24px}
.neiye_a1left_02 {height:228px; overflow:hidden; padding:15px}
.neiye_a1left_02 span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.a1title {width:349px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:20px; font-weight:bold; height:20px; line-height:20px}
.a102content {height:188px; overflow:hidden}
.neiye_a1left_02 p {text-indent:24px; color:#6d6d6d; line-height:24px}
.neiye_a1right {width:573px; height:487px; float:left; border-left:1px solid #dadada; padding:15px}
.neiye_a1right span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.neiye_a1right p {text-indent:24px; color:#6d6d6d; line-height:24px}
.a1titlebig {width:563px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:28px; font-weight:bold; height:28px; line-height:28px}
.a103content {height:95px; overflow:hidden}
.neiye_a2 {height:517px; width:998px; border-bottom:1px solid #dadada}
.neiye_a2left {width:573px; height:487px; float:left; border-right:1px solid #dadada; padding:15px}
.neiye_a2left span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.neiye_a2left p {text-indent:24px; color:#6d6d6d; line-height:24px}
.a2titlebig {width:563px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:28px; font-weight:bold; height:28px; line-height:28px}
.a201content {height:70px; overflow:hidden}
.neiye_a2right {width:394px; height:517px; float:left}
.neiye_a2right_01 {height:130px; border-bottom:1px solid #dadada; overflow:hidden; padding:15px}
.neiye_a2right_01 span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.neiye_a2right_01 p {text-indent:24px; color:#6d6d6d; line-height:24px}
.a2title {width:349px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:20px; font-weight:bold; height:20px; line-height:20px}
.pic {float:left; margin-right:10px}
.neiye_a2right_02 {height:165px; border-bottom:1px solid #dadada; overflow:hidden; padding:15px}
.neiye_a2right_02 span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.neiye_a2right_02 p {text-indent:24px; color:#6d6d6d; line-height:24px}
.a202content {height:120px; overflow:hidden}
.neiye_a3 {height:517px; width:998px; border-bottom:1px solid #dadada}
.neiye_a3left {width:468px; height:487px; float:left; border-right:1px solid #dadada; padding:15px}
.neiye_a3left span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.neiye_a3left p {text-indent:24px; color:#6d6d6d; line-height:24px}
.a303content {height:120px; overflow:hidden}
.a3titlebig {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:28px; font-weight:bold; height:28px; line-height:28px}
.neiye_a3right {width:468px; height:487px; float:left; padding:15px}
.neiye_a3right {width:468px; height:487px; float:left; border-right:1px solid #dadada; padding:15px}
.neiye_a3right span {display:block; margin-bottom:8px; padding:0 5px 0 5px}
.neiye_a3right p {text-indent:24px; color:#6d6d6d; line-height:24px}
.neiye_a4 {height:517px; width:998px; border-bottom:1px solid #dadada}
 #imageFlow {position: absolute; width: 100%; height: 80%; left: 0%; top: 10%; background: #000}
#imageFlow .diapo {position: absolute; left: -1000px; cursor: pointer; -ms-interpolation-mode: nearest-neighbor}
#imageFlow .link {border: dotted #fff 0px; margin-left: 0px; margin-bottom: 0px}
#imageFlow .bank {visibility: hidden}
#imageFlow .top {position: absolute; width: 100%; height: 40%; background: #181818 url(../images/eyok28.jpg)}
#imageFlow .text {position: absolute; left: 0px; width: 100%; bottom: 16%; text-align: center; color: #FFF; font-family: verdana, arial, Helvetica, sans-serif; z-index: 1000}
#imageFlow .title {font-size: 0.9em; font-weight: bold}
#imageFlow .legend {font-size: 0.8em}
#imageFlow .scrollbar {position: absolute; left: 10%; bottom: 10%; width: 80%; height: 16px; z-index: 200}
#imageFlow .track {position: absolute; left: 1%; width: 98%; height: 16px; filter: alpha(opacity=30); opacity: 0.3}
#imageFlow .arrow-left {position: absolute}
#imageFlow .arrow-right {position: absolute; right: 0px}
#imageFlow .bar {position: absolute; height: 16px; left: 25px}
.appreciate01 {width:982px; height:786px; position:relative; overflow:hidden; margin:8px; background:#000 url(../images/eyok27.jpg) no-repeat;}
.neiye_a4top{ height:278px; width:968px; border-bottom:1px solid #dadada; padding:15px}
.neiye_a4top span{ display:block; padding:0 5px 0 5px;}
.neiye_a4top p{ text-indent:24px; color:#6d6d6d; line-height:24px}
.a4titlebig{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:28px; font-weight:bold; height:28px; line-height:28px;}
.a403content{height:190px; overflow:hidden;}
.neiye_a4bottom{ height:208px; width:998px}
.neiye_a4bottom_01{ width:301px; height:178px; border-right:1px solid #dadada; float:left; padding:15px;}
.neiye_a4bottom_01 span{ display:block; margin-bottom:8px; padding:0 5px 0 5px;}
.a4title{ width:160px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:20px; font-weight:bold; height:20px; line-height:20px;}
.a401content{height:120px; overflow:hidden;}
.neiye_a4bottom p{ text-indent:24px; color:#6d6d6d; line-height:24px}
.a4title_01{ width:285px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:20px; font-weight:bold; height:20px; line-height:20px;}
.neiye_a5left{ width:468px; height:278px; float:left; border-right:1px solid #dadada; border-top:1px solid #dadada; padding:15px;}
.a5titlebig{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; font-size:28px; font-weight:bold; height:28px; line-height:28px;}
.neiye_a5left span {display:block; margin-bottom:8px; padding:0 5px 0 5px;}
.neiye_a5left p{ text-indent:24px; color:#6d6d6d; line-height:24px}
.a503content{height:210px; overflow:hidden;}
.a503content_01{height:75px; overflow:hidden;}
.xs_vip #xsvip_submit {background:url(../images/xsok/xs14.jpg);width:121px;height:43px;border:0;cursor:pointer;}
  #reception2j {display:none;}
.p_form {width:70%;margin:auto;}
.p_form h1{padding-bottom:10px;}
.p_form div{padding:5px;}
.user_form {text-align:center;}
.p_form input{}
#flash{font-weight:bold;text-align:center;}
#notice {border:3px solid #A7CC31;background-color:#FFFBE2;padding:1em;color:#006600;}
#error {border:3px solid red;background-color:#FFEBE8;padding:1em;color:red;}
 .errorExplanation {background-color:#FFCCCC;border:1px solid #FF6666;margin:2px 0;}
.errorExplanation h2 {padding: 2px 5px; color: #333; font-size: 11px; margin: 0; letter-spacing: 0; font-family: Verdana; background-color: #f66}
.errorExplanation ul {margin: 0; padding: 0 2px 4px 25px; list-style: disc}
.errorExplanation p {font-size: 11px; padding: 2px 5px; font-family: Verdana; margin: 0}
.errorExplanation ul li {font: bold 11px verdana; letter-spacing: -1px; margin: 0; padding: 0; background-color: transparent}
.fieldWithErrors input{border:1px solid #FF6666;}
  .GoodsInfoWrap .goodsprops {border-bottom:1px dotted #A6A6A6;border-top:1px dotted #A6A6A6;margin:0 0 5px;padding:10px 0;}
.GoodsInfoWrap .brief{color:#336699; padding:5px;}
.mktprice1 {color:#999999;font-size:11px;text-decoration:line-through;}
.price1 {color:#FF6600;font-size:16px;font-weight:bold;}
.GoodsInfoWrap ul.list{margin:10px 0;}
.GoodsInfoWrap ul.list li{background:url("/images/ra.gif") no-repeat scroll 0 8px transparent;border-bottom:1px solid #EFEFEF;color:#666666;display:block;line-height:23px;padding-left:15px;}
.hightline {background:none repeat scroll 0 0 #FFFEE6;border:1px solid #E7DBB1;margin-bottom:5px;}
.hightbox {border:2px solid #FFFFFF;padding:5px;}
.buyinfo {border-bottom:1px solid #FAEAC7;padding:5px 0 10px;}
.GoodsInfoWrap .btnBar {border-top:1px solid #FFFFFF;margin:0 3px 3px;padding:2px;}
.btn-buy {background:url("/images/btn-buy.gif") repeat scroll 0 0 transparent;float:left;width:120px;height:37px;cursor:pointer;}
.Numinput {height:20px;padding:0 20px;position:relative;}
.Numinput .numadjust {background-image:url("/images/numadjust.gif");background-repeat:no-repeat;cursor:pointer;height:9px;overflow:hidden;position:absolute;right:1px;width:18px;}
.Numinput .numadjust.increase {background-position:0 0;top:0;}
.Numinput .numadjust.decrease {background-position:0 -10px;bottom:0;}
.division {background:none repeat scroll 0 0 #FFFFFF}
  .FormWrap {background:none repeat scroll 0 0 #F0F0F0;border:1px solid #D5D5D5;margin:10px 0 0;padding:7px;}
.FormWrap * {line-height:150%;}
.FormWrap em {margin:0 2px;}
.FormWrap .division {border:1px solid #CCCCCC;padding:5px;}
.FormWrap .division .liststyle {border:1px solid #DDDDDD;margin:0;width:100%;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-9 {width:350px;}
.span-auto {width:auto;}
.ColColorOrange {background:none repeat scroll 0 0 #FBF7EE;}
.liststyle td, .liststyle th {border-color:#FFFFFF #DDDDDD #DDDDDD #FFFFFF;border-left:1px solid #FFFFFF;border-right:1px solid #DDDDDD;border-style:solid;border-width:1px;padding:4px;text-align:center;}
.liststyle.data td {text-align:left;}
.fontcolorRed {color:#CC0000;}
.btn-next {background:url("/images/btn-next.gif") repeat scroll 0 0 transparent;width:126px;}
.actbtn {background-repeat:no-repeat;border:medium none;cursor:pointer;display:block;height:36px;margin-top:5px;text-indent:-9999px;}
.checkoutbase {none repeat scroll 0 0 #FFFFFF}
.ColColorGray {none repeat scroll 0 0 #EFEFEF}
.ColColorBlue {none repeat scroll 0 0 #EEF4FB}
.checkoutbase .liststyle tbody td, .checkoutbase .liststyle tbody th {font-size:12px;}
.btn-return-checkout {background:url("/images/btn-return-small.gif") no-repeat scroll 0 0 transparent;width:126px;}
.btn-confirm {background:url("/images/btn-confirm.gif") repeat scroll 0 0 transparent;width:167px;}
.btn-pay {background:url("/images/btn-pay.gif") repeat scroll 0 0 transparent;height:36px;width:112px;}
  .MemberSidebar {float:left;width:170px;padding:10px;}
.MemberMenu {background:none repeat scroll 0 0 #F0F0F0;}
.MemberMenu .title {background:url("/images/membermenu_title_bg.gif") repeat scroll 0 0 transparent;height:7px;overflow:hidden;}
.MemberMenu .body {background:none repeat scroll 0 0 #FFFFFF;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;margin-right:2px;padding:0 1px;}
.MemberMenu .foot {background:url("/images/membermenu_title_bg.gif") repeat scroll 0 0 transparent;height:7px;overflow:hidden;}
.MemberMenu li {line-height:20px;}
.MemberMenu span {border-bottom:1px solid #EAEAEA;border-top:1px solid #EAEAEA;color:#333333;display:block;font-size:12px;font-weight:bold;padding:2px 0;}
.MemberMenu span div {margin:0 5px;}
.MemberMenu a {color:#464646;display:block;padding:0 20px 0 0;text-indent:20px;}
.MemberMain {float:right;width:80%;}
.MemberMain .title {color:#464646;font-size:14px;font-weight:bold;margin:5px 0 10px;}
.memberlist {color:#7E7E7E;}
.memberlist td {border-bottom:1px solid #E5E5E5;color:#7E7E7E;padding:7px 0 7px 5px;vertical-align:middle;}
.memberlist a {color:#FE6C00;text-decoration:none;}
.blueth th{background:url(/images/blueth.gif) repeat-x center;color:#464646;height:27px;line-height:27px;text-align:left;padding-left:5px;}
  .pagination {padding: 5px; margin: 5px; text-align:center}
.pagination a {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #ccc; text-decoration: none;}
.pagination a:hover, .pagination a:active {border: 1px solid #429ED1; background-color: #C8E8F3;}
.pagination span.current {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #429ED1; font-weight: bold; background-color: #C8E8F3;}
.pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd}
 form span.red {color:red;background:none;line-height:0;}
.model_form {background: none repeat scroll 0% 0% rgb(245, 244, 236); border: 1px solid rgb(229, 221, 199);}
.model_form p {margin-left:120px; padding:10px;}
.model_form label {width:70px;float:left;}
.model_form label em {color:red;}
 .gifts span {display:block;}
.gifts img {border:0px; margin:0px; padding:0px;}
.gifts_01a {width:526px; height:330px; background:url(../images/gifts/g2.jpg) no-repeat; float:left; color:#FFF; font-size:14px; font-weight:bold}
.gifts_01a ul {margin:20px 27px 36px 36px;}
.gifts_01a p {text-indent:20px; line-height:24px; margin:0px;}
.gifts_01b {float:left;}
.gifts_footer {width:1000px; height:27px; background:url(../images/gifts/g6.jpg) no-repeat; color:#FFF; font-weight:bold; text-align:center; padding-top:60px;}
.gfont_01 {font-size:24px; font-weight:bold; color:#FFF;}
.gfont_01:hover {font-size:24px; font-weight:bold; color:#FFF;}
.gfont_02 {font-size:14px; font-weight:bold; color:#F00; background-color:#ededed; padding:2px; margin:0 2px 0 2px; text-decoration:underline}
.gfont_02:hover {font-size:14px; font-weight:bold; color:#F00; background-color:#ededed; padding:2px; margin:0 2px 0 2px; text-decoration:underline}
 .cse form.gsc-search-box, form.gsc-search-box {padding:0px !important;}
.gsc-adBlock,.gsc-adBlockVertical {display:none !important;}
.gsc-thinWrapper {width:96% !important;}
input.gsc-input {width: 165px !important; height: 19px !important; background: white !important; position: absolute; top: -38px; right: 125px}
input.gsc-search-button {width: 50px !important; height: 23px !important; text-indent: -1000px; background: url(/images/eyok02.jpg) no-repeat !important; position: absolute; top: -39px; right: 72px}
.gsc-clear-button {display: none}
 #article_category {padding: 2%; font-size: 14px}
#article_category .ac_result {margin-bottom: 6px; padding: 6px}
#article_category .ac_title {height: 1.4em}
#article_category .ac_title a{ color: #950000}
#article_category .ac_content {padding-left: 15px}
#article_category .ac_footer {color: #A25B08; font-size: 12px; padding-left: 15px; margin-top: 3px}
.album_list p{ padding: 3px 0; width: 120px}
.gray {color:#999999;}
.gray a{color:#999999;}
.gray a:hover{color:#999999;text-decoration:underline;}
.orange a{color:#FE6C00;}
.orange a:hover{color:#FE6C00;text-decoration:underline;}
.section {border-top:1px solid #CCCCCC;}
.album_bg {background: url("/images/album_bg.gif") no-repeat scroll 0 0 transparent; overflow: hidden; padding: 6px 6px 20px}
.album_bg a {display:table-cell; text-align:center; vertical-align:middle; width:100px; height:100px}
   * {padding: 0; margin: 0}
   #TB_window {font: 14px Arial, Helvetica, sans-serif; color: #000; font-weight:bolder;}
#TB_secondLine {font: 14px Arial, Helvetica, sans-serif; color:#666666; font-weight:bolder;}
#TB_window a:link {color: #ff0014}
#TB_window a:visited {color: #ff0014}
#TB_window a:hover {color: #000}
#TB_window a:active {color: #ff0014}
#TB_window a:focus {color: #ff0014}
   #TB_overlay {position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%}
.TB_overlayMacFFBGHack {background: url(../images/macFFBgHack.png) repeat}
.TB_overlayBG {background-color:#000; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75}
* html #TB_overlay { position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')}
#TB_window {position: fixed; background: #ffffff; z-index: 102; color:#000000; display:none; border: 4px solid #525252; text-align:left; top:50%; left:50%}
* html #TB_window { position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px')}
#TB_window img#TB_Image {display:block; margin: 0px 0 0 15px}
#TB_caption {height:25px; padding:7px 30px 10px 25px; float:left}
#TB_closeWindow {height:25px; padding:7px 25px 10px 0; float:right}
#TB_closeAjaxWindow {padding:7px 10px 5px 0; margin-bottom:1px; text-align:right; float:right}
#TB_ajaxWindowTitle {float:left; padding:7px 0 5px 10px; margin-bottom:1px}
#TB_title {background-color:#e8e8e8; height:27px}
#TB_ajaxContent {clear:both; padding:2px 15px 15px 15px; overflow:auto; text-align:left; line-height:1.4em}
#TB_ajaxContent.TB_modal {padding:15px}
#TB_ajaxContent p {padding:5px 0px 5px 0px}
#TB_load {position: fixed; display:none; height:13px; width:208px; z-index:103; top: 50%; left: 50%; margin: -6px 0 0 -104px;  }
* html #TB_load { position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px')}
#TB_HideSelect {z-index:99; position:fixed; top: 0; left: 0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; height:100%; width:100%}
* html #TB_HideSelect { position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')}
#TB_iframeContent {clear:both; border:none; margin-bottom:-1px; margin-top:1px; _margin-bottom:1px}
.thickbox{}
a.thickbox:hover {text-decoration:underline;}