<li class="MemberMenuList">
    <span>
        <div style="font-size: 14px;">文章管理</div>
    </span>
    <ul style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
        <li>
            <a href="/articles"><b>全部文章</b></a>
            <a href="/articles/new"><b>发布文章</b></a>
            <a href="/categories"><b>全部分类</b></a>
            <a href="/categories/new"><b>添加分类</b></a>
        </li>
    </ul>
</li>

<li class="MemberMenuList">
    <span>
        <div style="font-size: 14px;">页面管理</div>
    </span>
    <ul style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
        <li>
            <% PanelCategory.no_parent(true).all.each do |pc| %>
                <% text_indent = 20%>
                <a href="/panel_contents?pcid=<%=pc.id%>" style="text-indent:<%=text_indent%>px;"><b><%=pc.name%></b></a>
                <%=find_all_subcategories(pc,text_indent)%>
            <% end %>
        </li>
    </ul>
</li>

<li class="MemberMenuList">
    <span>
        <div style="font-size: 14px;">交易记录</div>
    </span>
    <ul style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
        <li>
            <a href="/my/orders"><b>所有订单</b></a>
        </li>
    </ul>
</li>