<div class="footer">
    <span style="background:#dce0df">
        <a href="/html/ifram/aboutus.html?keepThis=true&amp;TB_iframe=true&amp;height=400&amp;width=605" title="关于我们" class="thickbox">关于我们</a>
        <a href="/html/ifram/contactus.html?keepThis=true&amp;TB_iframe=true&amp;height=400&amp;width=605" title="联系我们" class="thickbox">联系我们</a>
        <a href="/html/ifram/advertising.html?keepThis=true&amp;TB_iframe=true&amp;height=400&amp;width=605" title="广告投放" class="thickbox">广告投放</a>
        <a href="/html/ifram/copyright.html?keepThis=true&amp;TB_iframe=true&amp;height=400&amp;width=605" title="版权声明" class="thickbox">版权声明</a>
        <a href="http://www.enjoyoung.cn/recuritment/" target="_blank">加入我们</a>
    </span>
    <span>
        <a href="http://meishi.enjoyoung.cn/" target="_blank">人气美食</a>|<a href="http://www.enjoyoung.cn/" target="_blank">星尚传媒</a>|<a href="http://www.anni.com/" target="_blank">爱你网</a>|<a href="http://www.smg.cn/" target="_blank">SMG</a>
    </span>
    <span>
        <a class="hui">本站发布的所有内容，未经许可，不得转载，详见《版权申明》-沪ICP备09055423©2009-2014 enjoyoung.cn, 保留所有权利。</a>
    </span>
</div>