<li class="MemberMenuList">
    <span>
        <div style="font-size: 14px;">交易记录</div>
    </span>
    <ul style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
        <li>
            <a href="/my/orders"><b>我的订单</b></a>
        </li>
    </ul>
</li>